.add-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 75px;
}

.add-form-container form {

  display: flex;
  flex-direction: column;
}

.add-form-container form label {
  margin-bottom: 8px;
}

.add-form-container form input,
.add-form-container form textarea {
  padding: 8px;
  margin-bottom: 16px;
}

.add-form-container form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-form-container form button:hover {
  background-color: #0056b3;
}
