/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

div.Home {
  background-color: #fff;
  /* border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  
}

div.Home h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

div.Home ul {
  list-style-type: none;
  padding: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.Home ul li {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Home ul li p {
  font-size: 18px;
  margin: 0;
  flex-grow: 1;
}

div.Home ul li button, div.Home ul li .link-page {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

div.Home ul li .link-page {
  text-decoration: none;
}

div.Home ul li button:hover , div.Home ul li .link-page:hover  {
  background-color: #2a75b3;
}
